/* место для вашего кода */

.header__blog {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 91px 24px 93px;
}

.headder__list {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    list-style: circle;
    text-align: center;
    font-size: 18px;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.accend {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__nav {
    grid-column: 1/6;
    margin: auto 0;
}

.header__logo {
    grid-column: 6/8;
}

.header__logo-image {
    height: 105px;
}

.header__address {
    padding-top: 8px;
    grid-column: 10 / 13;
}

.address {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
}

.cover {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 178px;
}

.cover__title-block {
    position: relative;
    z-index: 2;
}

.cover__title {
    padding: 157px 48px 132px 52px;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    z-index: 1;
}

.aligned-text {
    line-height: 100%;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    display: block;
    text-align: center;
    line-height: 130%;
    letter-spacing: 0.3em;
}

.aligned-text_right {
    display: block;
    text-align: right;
    line-height: 117%;
    letter-spacing: 0.6em;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.letter-spacing-right-extended {
    letter-spacing: 0.3em;
}

.right-letter-spacing {
    letter-spacing: 0;
}


.cover__description {
    display: flex;
    gap: 79px;
    align-items: center;
    position: relative;
    z-index: 2;
    padding-bottom: 50px;
}

.cover__description-text {
    margin-left: 76px;
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    word-spacing: 19px;
}

.bet-button {
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #fff;
    padding: 12px 32px;
}

.lots {
    margin-bottom: 179px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    padding: 0 0 27px 65px;
}

.lots__card-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 30px;
}

.lots__card-list-item {
    width: 334px;
    position: relative;
}


.card-link {
    height: 100%;
    display: block;
    text-decoration: none;
}

.card {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__block-descr {
    position: relative;
    z-index: 2;
    padding: 50px 40px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-linl {
    padding-left: 64px;
    font-weight: 400;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 15%;
    margin-bottom: 45px;
}

.column-left {
    grid-column: 2 / 2;
}

.about__logo {
    display: flex;
    background-color: #000;
    border-radius: 50%;
    min-width: 240px;
    min-height: 240px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about__logo-image {
    max-width: 141px;
}

.column-right {
    grid-column: 4 / 14;
    grid-row: 2 / 2;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 98px;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    padding-right: 26px;
}

.about__text-indent:not(:last-child) {
    margin-bottom: 25px;
}

.footer {
    padding-bottom: 80px;
}

.footer__blog {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    padding-left: 40px;
}

.footer__list {
    list-style: none;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    max-width: 48px;
}

.overlay {
    position: absolute;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 1;
}
